azul = #22BCE0
gris_oscuro = #444
gris_texto = #7A7A7A
naranja = #DD4F24

body
	background azul
	color gris_oscuro
	font-family Arial
	font-size 1.2em


header
	background gris_oscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white
	text-align center
	margin 30px 0


section
	text-align center

/*  Seccion elegir opciones  */	

.elige
	
	display inline-block
	margin 0 10px 10px 10px
	

.imagen1,.imagen2,.imagen3
	
		img
			width 200px
			margin 0
			padding 0
		
h1
	padding 0.1em
h3
	margin 0px		
p
	background naranja
	color white
	margin 0 12px 0 12px
	padding 0 

/*  Fin seccion elegir opciones  */	

/*  Seccion resultado */	

.mostrarSeleccion
	background naranja
	
	
	margin 20px 10px
	


	/*div
		width: 30%;
		display inline-block
		
		font-size 1.5em
		margin 0 20px
			*/
		
.resultado
	background naranja
	



